---
http_interactions:
- request:
    method: get
    uri: https://cloudpanel-api.1and1.com/v1/server_appliances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-5485816-5485840 NNNN CT(79 173 0) RT(1469798443280 225) q(0 0 2 -1) r(15
        15) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"EC5DCA17E7CF86D968F60C222948C83F","name":"centos6-64std+Plesk12unlimited","available_datacenters":["81DEF28500FBC2A973FC0C620DF5B721","908DC2072407C94C8054610AD5A53B8C","4EFAD5836CE43ACA502FD5B99BEE44EF","5091F6D8CBFEF9C26ACE957C652D5D49"],"os_family":"Linux","os":"Centos6","os_version":"Centos","os_architecture":64,"os_image_type":"STANDARD","type":"IMAGE","min_hdd_size":20,"licenses":["Licencia
        Plesk 10.4 - Ilimitados dominios"],"version":null,"categories":[]},{"id":"84E51A83034B68E05110B46890858EA9","name":"w2008r2datacenter64std+Plesk12unlimited","available_datacenters":["81DEF28500FBC2A973FC0C620DF5B721","908DC2072407C94C8054610AD5A53B8C","4EFAD5836CE43ACA502FD5B99BEE44EF","5091F6D8CBFEF9C26ACE957C652D5D49"],"os_family":"Windows","os":"Windows2008R2","os_version":"WindowsDatacenter","os_architecture":64,"os_image_type":"STANDARD","type":"IMAGE","min_hdd_size":40,"licenses":["Licencia
        Plesk 10.4 - Ilimitados dominios","Windows 2012 Datac[...]
