---
http_interactions:
- request:
    method: post
    uri: https://cloudpanel-api.1and1.com/v1/block_storages
    body:
      encoding: UTF-8
      string: '{"name":"My-new-block-storage","description":"My-block-storage-description","size":20,"server_id":"638ED28205B1AFD7ADEF569C725DD85F","datacenter_id":"D0F6D8C8ED29D3036F94C27BBB7BAD36"}'
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-36384563-36384856 NNNN CT(76 169 0) RT(1470179562960 5575) q(0 0 2 -1)
        r(13 13) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"6AD2F180B7B666539EF75A02FE227084","size":20,"state":"CONFIGURING","description":"My-block-storage-description","datacenter":{"id":"D0F6D8C8ED29D3036F94C27BBB7BAD36","location":"USA","country_code":"US"},"name":"My-new-block-storage","creation_date":"2015-05-06T08:33:25+00:00","server":{"id":"638ED28205B1AFD7ADEF569C725DD85F","name":"Myserver1"}}'
  recorded_at: Tue, 02 Aug 2016 23:12:48 GMT
recorded_with: VCR 3.0.3
