---
http_interactions:
- request:
    method: get
    uri: https://cloudpanel-api.1and1.com/v1/block_storages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-23015655-23016050 NNNN CT(67 150 0) RT(1470088167315 5490) q(0 0 2 -1) r(11
        11) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"6AD2F180B7B666539EF75A02FE227084","size":30,"state":"POWERED_ON","description":"test_chef_update","datacenter":{"id":"5091F6D8CBFEF9C26ACE957C652D5D49","location":"UnitedKingdomofGreatBritainandNorthernIreland","country_code":"GB"},"name":"chef-blk-update","creation_date":"2018-04-05T20:22:32+00:00","server":null},{"id":"97853C04D2819F117A205A500B0AAAD2","size":30,"state":"POWERED_ON","description":"test_chef_update2","datacenter":{"id":"5091F6D8CBFEF9C26ACE957C652D5D49","location":"UnitedKingdomofGreatBritainandNorthernIreland","country_code":"GB"},"name":"chef-blk-update2","creation_date":"2018-04-05T20:22:32+00:00","server":null}]'
  recorded_at: Mon, 01 Aug 2016 21:49:34 GMT
recorded_with: VCR 3.0.3
