---
http_interactions:
- request:
    method: get
    uri: https://cloudpanel-api.1and1.com/v1/block_storages/6AD2F180B7B666539EF75A02FE227085
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-13460516-13460788 NNNN CT(67 148 0) RT(1469969329303 4614) q(0 0 2 1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"6AD2F180B7B666539EF75A02FE227085","size":200,"state":"POWERED_ON","description":"Myblockstorageforcontainers","datacenter":{"id":"D0F6D8C8ED29D3036F94C27BBB7BAD36","location":"USA","country_code":"US"},"name":"Myblockstorage1","creation_date":"2015-05-06T08:33:25+00:00","server":{"id":"638ED28205B1AFD7ADEF569C725DD85F","name":"Myserver1"}}'
  recorded_at: Sun, 31 Jul 2016 12:48:49 GMT
- request:
    method: delete
    uri: https://cloudpanel-api.1and1.com/v1/block_storages/6AD2F180B7B666539EF75A02FE227085
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-23861990-23862284 NNNN CT(73 78 0) RT(1470181097462 5183) q(0 0 1 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"6AD2F180B7B666539EF75A02FE227084","size":200,"state":"REMOVING","description":"Myblockstorageforcontainers","datacenter":{"id":"D0F6D8C8ED29D3036F94C27BBB7BAD36","location":"USA","country_code":"US"},"name":"Myblockstorage1","creation_date":"2015-05-06T08:33:25+00:00","server":{"id":"638ED28205B1AFD7ADEF569C725DD85F","name":"Myserver1"}}'
  recorded_at: Tue, 02 Aug 2016 23:38:21 GMT
recorded_with: VCR 3.0.3
