---
http_interactions:
- request:
    method: post
    uri: https://cloudpanel-api.1and1.com/v1/firewall_policies
    body:
      encoding: UTF-8
      string: '{"name":"knife-firewall","rules":[{"protocol":"TCP","port_from":80,"port_to":80,"source":null},{"protocol":"UDP","port_from":161,"port_to":162,"source":null},{"protocol":"IPSEC","port_from":null,"port_to":null,"source":null},{"protocol":"ICMP","port_from":null,"port_to":null,"source":null}]}'
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-36384563-36384856 NNNN CT(76 169 0) RT(1470179562960 5575) q(0 0 2 -1)
        r(13 13) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"87B4E3234945F6ED928664EDA3E341C2","name":"knife-firewall","description":null,"state":"CONFIGURING","creation_date":"2016-08-02T23:12:50+00:00","default":0,"rules":[{"id":"B54D6260A3A7BCBC4A42BF2A75C15B68","protocol":"TCP","port_from":80,"port_to":80,"source":"0.0.0.0"},{"id":"DA27BE10B19E3062049AAF6E4760B62C","protocol":"UDP","port_from":161,"port_to":162,"source":"0.0.0.0"},{"id":"5DAB921D5534A7761712B21A72278FD9","protocol":"IPSEC","port_from":null,"port_to":null,"source":"0.0.0.0"},{"id":"AA45DFD17B9A4919D9DA8846A64A8F50","protocol":"ICMP","port_from":null,"port_to":null,"source":"0.0.0.0"}],"server_ips":[],"cloudpanel_id":"FWFF88C_45"}'
  recorded_at: Tue, 02 Aug 2016 23:12:48 GMT
recorded_with: VCR 3.0.3
