---
http_interactions:
- request:
    method: get
    uri: https://cloudpanel-api.1and1.com/v1/firewall_policies/87B4E3234945F6ED928664EDA3E341C2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-23861990-23862284 NNNN CT(73 78 0) RT(1470181097462 5183) q(0 0 1 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"87B4E3234945F6ED928664EDA3E341C2","name":"knife-firewall","description":null,"state":"ACTIVE","creation_date":"2016-08-02T23:12:50+00:00","default":0,"rules":[{"id":"B54D6260A3A7BCBC4A42BF2A75C15B68","protocol":"TCP","port_from":80,"port_to":80,"source":"0.0.0.0"},{"id":"DA27BE10B19E3062049AAF6E4760B62C","protocol":"UDP","port_from":161,"port_to":162,"source":"0.0.0.0"},{"id":"5DAB921D5534A7761712B21A72278FD9","protocol":"IPSEC","port_from":null,"port_to":null,"source":"0.0.0.0"},{"id":"AA45DFD17B9A4919D9DA8846A64A8F50","protocol":"ICMP","port_from":null,"port_to":null,"source":"0.0.0.0"}],"server_ips":[],"cloudpanel_id":"FWFF88C_45"}'
  recorded_at: Tue, 02 Aug 2016 23:38:21 GMT
- request:
    method: delete
    uri: https://cloudpanel-api.1and1.com/v1/firewall_policies/87B4E3234945F6ED928664EDA3E341C2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '23'
      Content-Type:
      - application/json
      X-Iinfo:
      - 0-13684472-13684475 NNNN CT(72 78 0) RT(1470181103185 106) q(0 0 2 -1) r(9
        9) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"87B4E3234945F6ED928664EDA3E341C2","name":"knife-firewall","description":null,"state":"REMOVING","creation_date":"2016-08-02T23:12:50+00:00","default":0,"rules":[{"id":"B54D6260A3A7BCBC4A42BF2A75C15B68","protocol":"TCP","port_from":80,"port_to":80,"source":"0.0.0.0"},{"id":"DA27BE10B19E3062049AAF6E4760B62C","protocol":"UDP","port_from":161,"port_to":162,"source":"0.0.0.0"},{"id":"5DAB921D5534A7761712B21A72278FD9","protocol":"IPSEC","port_from":null,"port_to":null,"source":"0.0.0.0"},{"id":"AA45DFD17B9A4919D9DA8846A64A8F50","protocol":"ICMP","port_from":null,"port_to":null,"source":"0.0.0.0"}],"server_ips":[],"cloudpanel_id":"FWFF88C_45"}'
  recorded_at: Tue, 02 Aug 2016 23:38:22 GMT
recorded_with: VCR 3.0.3
