---
http_interactions:
- request:
    method: get
    uri: https://cloudpanel-api.1and1.com/v1/load_balancers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '23'
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-3431058-3431065 NNNN CT(80 85 0) RT(1470267255890 98) q(0 0 2 -1) r(5 5)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"C220C84E9B06913134245A5FC0849E44","name":"testLB","state":"CONFIGURING","creation_date":"2016-08-03T23:34:16+00:00","description":"lb
        test","ip":null,"health_check_test":"NONE","health_check_interval":null,"health_check_path":null,"health_check_path_parser":null,"persistence":true,"persistence_time":1000,"method":"LEAST_CONNECTIONS","datacenter":{"id":"908DC2072407C94C8054610AD5A53B8C","country_code":"US","location":"United
        States of America"},"rules":[{"id":"30BDA0592790D1960844B934F70FE0C6","protocol":"TCP","port_balancer":80,"port_server":8080,"source":"0.0.0.0"},{"id":"82338C8255FDFCEE9F4FEC18F00D9704","protocol":"UDP","port_balancer":161,"port_server":161,"source":"0.0.0.0"}],"server_ips":[],"cloudpanel_id":"LBFF88C_11"}]'
  recorded_at: Wed, 03 Aug 2016 23:34:13 GMT
recorded_with: VCR 3.0.3
