---
http_interactions:
- request:
    method: put
    uri: https://cloudpanel-api.1and1.com/v1/servers/951FEECF08A537A018B7D0285EAEEF6E
    body:
      encoding: UTF-8
      string: '{"name":"new test","description":"new description"}'
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 8-10157757-10157912 NNNN CT(73 156 0) RT(1469960411521 4004) q(0 0 2 0) r(19
        19) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"951FEECF08A537A018B7D0285EAEEF6E","cloudpanel_id":"EB28DA9","name":"new
        test","description":"new description","datacenter":{"id":"4EFAD5836CE43ACA502FD5B99BEE44EF","country_code":"DE","location":"Germany"},"creation_date":"2016-07-27T19:04:14+00:00","first_password":"Hz353u7574","rsa_key":0,"status":{"state":"POWERED_ON","percent":null},"hardware":{"fixed_instance_size_id":"65929629F35BBFBA63022008F773F3EB","vcore":1,"cores_per_processor":1,"ram":1,"hdds":[{"id":"E181C3906D358642F5173400B7DCEC44","size":40,"is_main":true}]},"image":{"id":"9B9A214D50A7EEE8D9E37295DF834F70","name":"debian7-32min"},"dvd":null,"snapshot":null,"ips":[{"id":"333DEFC4E57846A09DDB6C847257A573","ip":"212.227.175.76","type":"IPV4","reverse_dns":null,"firewall_policy":{"id":"A4D6302FA44955C797772E34880CBA42","name":"centos7-64cpanel"},"load_balancers":[]}],"alerts":[],"monitoring_policy":null,"private_networks":null}'
  recorded_at: Sun, 31 Jul 2016 10:20:12 GMT
recorded_with: VCR 3.0.3
