---
http_interactions:
- request:
    method: get
    uri: https://cloudpanel-api.1and1.com/v1/servers/951FEECF08A537A018B7D0285EAEEF6E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-13460516-13460788 NNNN CT(67 148 0) RT(1469969329303 4614) q(0 0 2 1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"951FEECF08A537A018B7D0285EAEEF6E","cloudpanel_id":"EB28DA9","name":"new
        test","description":"new description","datacenter":{"id":"4EFAD5836CE43ACA502FD5B99BEE44EF","country_code":"DE","location":"Germany"},"creation_date":"2016-07-27T19:04:14+00:00","first_password":"Hz353u7574","rsa_key":0,"status":{"state":"POWERED_OFF","percent":null},"hardware":{"fixed_instance_size_id":null,"vcore":2,"cores_per_processor":2,"ram":2,"hdds":[{"id":"E181C3906D358642F5173400B7DCEC44","size":60,"is_main":true}]},"image":{"id":"9B9A214D50A7EEE8D9E37295DF834F70","name":"debian7-32min"},"dvd":null,"snapshot":null,"ips":[{"id":"333DEFC4E57846A09DDB6C847257A573","ip":"212.227.175.76","type":"IPV4","reverse_dns":null,"firewall_policy":{"id":"A4D6302FA44955C797772E34880CBA42","name":"centos7-64cpanel"},"load_balancers":[]}],"alerts":[],"monitoring_policy":null,"private_networks":null}'
  recorded_at: Sun, 31 Jul 2016 12:48:49 GMT
[...]
