---
http_interactions:
- request:
    method: post
    uri: https://cloudpanel-api.1and1.com/v1/servers
    body:
      encoding: UTF-8
      string: '{"name":"test-test","hardware":{"fixed_instance_size_id":"65929629F35BBFBA63022008F773F3EB"},"appliance_id":"CF8318BDB7EFE797C9C769272AAA5F5C","datacenter_id":"5091F6D8CBFEF9C26ACE957C652D5D49"}'
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-15509326-15509737 NNNN CT(72 151 0) RT(1470003419131 5163) q(0 0 3 1) r(19
        19) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"7661CA89FAF8681A0A844591EF94A744","cloudpanel_id":"","name":"test-test","description":"","datacenter":{"id":"5091F6D8CBFEF9C26ACE957C652D5D49","country_code":"GB","location":"United
        Kingdom of Great Britain and Northern Ireland"},"creation_date":"2016-07-31T22:17:06+00:00","first_password":"Wo7nr37940","rsa_key":0,"status":{"state":"DEPLOYING","percent":0},"hardware":{"fixed_instance_size_id":"65929629F35BBFBA63022008F773F3EB","vcore":1,"cores_per_processor":1,"ram":1,"hdds":[]},"image":{"id":"CF8318BDB7EFE797C9C769272AAA5F5C","name":"debian7-64min"},"dvd":null,"snapshot":null,"ips":[],"alerts":[],"monitoring_policy":null,"private_networks":null}'
  recorded_at: Sun, 31 Jul 2016 22:17:00 GMT
recorded_with: VCR 3.0.3
