---
http_interactions:
- request:
    method: get
    uri: https://cloudpanel-api.1and1.com/v1/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - _DUMMY_TOKEN_
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      Content-Type:
      - application/json
      X-Iinfo:
      - 8-5734938-5734942 NNNN CT(65 145 0) RT(1469826489676 110) q(0 0 2 -1) r(7
        7) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"951FEECF08A537A018B7D0285EAEEF6E","name":"test-test","description":"test-desc","status":{"state":"POWERED_ON","percent":null},"datacenter":{"id":"4EFAD5836CE43ACA502FD5B99BEE44EF","country_code":"DE","location":"Germany"},"creation_date":"2016-07-27T19:04:14+00:00","image":{"id":"9B9A214D50A7EEE8D9E37295DF834F70","name":"debian7-32min"},"hardware":{"fixed_instance_size_id":"65929629F35BBFBA63022008F773F3EB","vcore":1,"cores_per_processor":1,"ram":1,"hdds":[{"id":"E181C3906D358642F5173400B7DCEC44","size":40,"is_main":true}]},"ips":[{"id":"333DEFC4E57846A09DDB6C847257A573","ip":"212.227.175.76"}],"alerts":null}]'
  recorded_at: Fri, 29 Jul 2016 21:08:07 GMT
recorded_with: VCR 3.0.3
